<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Orange Amps</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    
    <h1> Web Components</h1>

    <h2>Page Header</h2>

    <article class="component">
        <h3 class="component__name">.page-header</h3>
        <div class="component__image">
            <img 
                srcset="/images/page-header.png 2x"
                src="/images/page-header.png" alt="Page Header Image"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">headings (h1, h2, ...)</h3>
        <div class="component__image">
            <img 
                srcset="https://via.placeholder.com/300 2x"
                src="https://via.placeholder.com/150" alt="Placeholder Image"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

</body>
</html>