<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Components | Orange Amps</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/entypo.css">
</head>
<body>
    
    <h1> Web Components</h1>

    <p>This is a collection of components based on my study of the design system of the <a href="https://orangeamps.com/" target="_blank">Orange Amps</a> website.</p>

    <h2 class="component__section_name">Page Header</h2>

    <article class="component">
        <h3 class="component__name">.page-header</h3>
        <div class="component__image">
            <img
                srcset="images/page-header.png 2x"
                src="images/page-header.png" alt="Page Header Image"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.page-header--social-icons</h3>
        <div class="component__image">
            <img 
                srcset="images/page-header--social-icons.png 2x"
                src="images/page-header--social-icons.png" alt="Page Header Social Icons"
            />
        </div>
        <div class="component__code">
            <span class="icon-youtube-play"></span>
            <span class="icon-x-1"></span>
            <span class="icon-facebook"></span>
            <span class="icon-instagram"></span>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.page-header--language-icons</h3>
        <div class="component__image">
            <img 
                srcset="images/page-header--language-icons.png 2x"
                src="images/page-header--language-icons.png" alt="Page Header Language Icons"
            />
        </div>
        <div class="component__code">
            <img class="language-icon" src="images/en.svg" alt="English Language Icon" />
            <img class="language-icon" src="images/ja.svg" alt="Japanese Language Icon" />
            <img class="language-icon" src="images/es.svg" alt="Spanish Language Icon" />
            <img class="language-icon" src="images/fr.svg" alt="French Language Icon" />
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.page-header--wordmark</h3>
        <div class="component__image">
            <img 
                srcset="images/page-header--wordmark.png 2x"
                src="images/page-header--wordmark.png" alt="Orange Wordmark"
            />
        </div>
        <div class="component__code">
            <img src="images/orange-wordmark.png" alt="Orange Wordmark" />
        </div>
    </article>

    
    <article class="component">
        <h3 class="component__name">.page-header--cart-icon</h3>
        <div class="component__image">
            <img 
                srcset="images/page-header--cart-icon.png 2x"
                src="images/page-header--cart-icon.png" alt="Cart Icon"
            />
        </div>
        <div class="component__code">
            <span class="icon-basket-1"></span>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.page-header--nav-bar</h3>
        <div class="component__image">
            <img 
                srcset="images/page-header--nav-bar.png 2x"
                src="images/page-header--nav-bar.png" alt="Nav bar"
            />
        </div>
        <div class="component__code">
            <nav class="page-header--nav-bar">
                <ul class="page-header--nav-bar-items">
                  <li class="nav-item"><a href="/gear">GEAR</a></li>
                  <li class="nav-item"><a href="/artists">ARTISTS</a></li>
                  <li class="nav-item"><a href="/history">HISTORY</a></li>
                  <li class="nav-item"><a href="/news">NEWS</a></li>
                  <li class="nav-item"><a href="/support">SUPPORT</a></li>
                  <li class="nav-item"><a href="/find-dealer">FIND DEALER</a></li>
                  <li class="nav-item"><a href="/store">STORE</a></li>
                  <li class="nav-item"><a href="/orange-essentials">ORANGE ESSENTIALS</a></li>
                  <li class="nav-item"><a href="/orange-learn">ORANGE LEARN</a></li>
                  <li class="nav-item search">
                    <a href="/search" class="search-link">
                      <i class="icon-search"></i>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </article>

    <h2 class="component__section_name">Hero Section</h2>

    <article class="component">
        <h3 class="component__name">.hero-section</h3>
        <div class="component__image">
            <img 
                srcset="images/hero-section.png 2x"
                src="images/hero-section.png" alt="Hero Section"
            />
        </div>
        <div class="component__code">

        </div>
    </article>

<article class="component">
  <h3 class="component__name">.hero-section--image</h3>
  <div class="component__image">
    <img
      srcset="images/hero-section--image.png 2x"
      src="images/hero-section--image.png" alt="Hero Section Image"
    />
  </div>
  <div class="component__code">
    <div class="hero-section--image-container">
      <img
        class="hero-section--image"
        srcset="images/hero-section--image.png 2x"
        src="images/hero-section--image.png"
        alt="Hero Section Image with Hover Effect"
      >
      <div class="hero-section--image-overlay"></div>
    </div>
  </div>
</article>

    <article class="component">
        <h3 class="component__name">.hero-section--image-hover-arrow</h3>
        <div class="component__image">
          <img 
            srcset="images/hero-section--image-hover-arrow.png 2x"
            src="images/hero-section--image-hover-arrow.png" alt="Hero Section Image Hover Arrow"
          />
        </div>
        <div class="component__code">
          <div class="hero-section--image-hover">
            <img class="hero-section--image-hover-arrow" src="images/arrow.svg" alt="Arrow">
          </div>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.hero-section--slideshow-dots</h3>
        <div class="component__image">
            <img
            srcset="images/hero-section--slideshow-dots.png 2x"
            src="images/hero-section--slideshow-dots.png" alt="Hero Section Slideshow Dots"
            />
        </div>
        <div class="component__code">
            <div class="hero-section--slideshow-dots">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            </div>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.hero-section--left-arrow</h3>
        <div class="component__image">
          <img 
            srcset="images/hero-section--left-arrow.png 2x"
            src="images/hero-section--left-arrow.png" alt="Hero Section Left Arrow"
          />
        </div>
        <div class="component__code">
          <button class="hero-section--left-arrow">
            <div class="arrow-icon"></div>
          </button>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.hero-section--right-arrow</h3>
        <div class="component__image">
          <img 
            srcset="images/hero-section--right-arrow.png 2x"
            src="images/hero-section--right-arrow.png" alt="Hero Section Right Arrow"
          />
        </div>
        <div class="component__code">
          <button class="hero-section--right-arrow">
            <div class="arrow-icon"></div>
          </button>
        </div>
    </article>

    <h2 class="component__section_name">News Section</h2>

    <article class="component">
        <h3 class="component__name">.news-section</h3>
        <div class="component__image">
            <img 
                srcset="images/news-section.png 2x"
                src="images/news-section.png" alt="News Section"
            />
        </div>
        <div class="component__code">

        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.news-section--image (with hover effect)</h3>
        <div class="component__image">
          <img 
            srcset="images/news-section--image.png 2x"
            src="images/news-section--image.png" alt="News Section Image"
          />
        </div>
        <div class="component__code">
          <div class="news-section--image-container">
            <img 
              class="news-section--image" 
              srcset="images/news-section--image.png 2x"
              src="images/news-section--image.png" alt="News Section Image"
            />
            <div class="news-section--image-overlay">
              <h2>Orange Spotlight:</h2>
              <h2>Sleeping Mountain</h2>
              <p>April 18, 2025</p>
            </div>
          </div>
        </div>
      </article>

    <article class="component">
        <h3 class="component__name">.news-section--title-link</h3>
        <div class="component__image">
            <img 
                srcset="images/news-section--title-link.png 2x"
                src="images/news-section--title-link.png" alt="News Section Title Link"
            />
        </div>
        <div class="component__code">
            <h2 class="news-section--h2">Latest News</h2>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.news-section--divider</h3>
        <div class="component__image">
            <img 
                srcset="images/news-section--divider.png 2x"
                src="images/news-section--divider.png" alt="News Section Divider"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <h2 class="component__section_name">Featured Gear Section</h2>

    <article class="component">
        <h3 class="component__name">.featured-gear-section</h3>
        <div class="component__image">
            <img 
                srcset="images/featured-gear-section.png 2x"
                src="images/featured-gear-section.png" alt="Featured Gear Section"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.featured-gear-section--image</h3>
        <div class="component__image">
            <img 
                srcset="images/featured-gear-section--image.png 2x"
                src="images/featured-gear-section--image.png" alt="Featured Gear Section Image"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.featured-gear-section--image-hover</h3>
        <div class="component__image">
            <img 
                srcset="images/featured-gear-section--image-hover.png 2x"
                src="images/featured-gear-section--image-hover.png" alt="Featured Gear Section Image Hover"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.featured-gear-section--image-hover-arrow</h3>
        <div class="component__image">
            <img 
                srcset="images/featured-gear-section--image-hover-arrow.png 2x"
                src="images/featured-gear-section--image-hover-arrow.png" alt="Featured Gear Section Image Hover Arrow"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.featured-gear-section--title-link</h3>
        <div class="component__image">
            <img 
                srcset="images/featured-gear-section--title-link.png 2x"
                src="images/featured-gear-section--title-link.png" alt="Featured Gear Section Title Link"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <h2 class="component__section_name">Latest Gear Section</h2>

    <article class="component">
        <h3 class="component__name">.latest-gear-section</h3>
        <div class="component__image">
            <img 
                srcset="images/latest-gear-section.png 2x"
                src="images/latest-gear-section.png" alt="Latest Gear Section"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.latest-gear-section--title</h3>
        <div class="component__image">
            <img 
                srcset="images/latest-gear-section--title.png 2x"
                src="images/latest-gear-section--title.png" alt="Latest Gear Section Title"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.latest-gear-section--image</h3>
        <div class="component__image">
            <img 
                srcset="images/latest-gear-section--image.png 2x"
                src="images/latest-gear-section--image.png" alt="Latest Gear Section Image"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.latest-gear-section--image-hover</h3>
        <div class="component__image">
            <img 
                srcset="images/latest-gear-section--image-hover.png 2x"
                src="images/latest-gear-section--image-hover.png" alt="Latest Gear Section Image Hover"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <h2 class="component__section_name">Footer</h2>

    <article class="component">
        <h3 class="component__name">.footer</h3>
        <div class="component__image">
            <img 
                srcset="images/footer.png 2x"
                src="images/footer.png" alt="Footer"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.footer--divider-arrow</h3>
        <div class="component__image">
            <img 
                srcset="images/footer--divider-arrow.png 2x"
                src="images/footer--divider-arrow.png" alt="Footer Divider Arrow"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.footer--link-list</h3>
        <div class="component__image">
            <img 
                srcset="images/footer--link-list.png 2x"
                src="images/footer--link-list.png" alt="Footer Link List"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.footer--newsletter-sign-up</h3>
        <div class="component__image">
            <img 
                srcset="images/footer--newsletter-sign-up.png 2x"
                src="images/footer--newsletter-sign-up.png" alt="Footer Newsletter Sign Up"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.footer--copyright-and-terms</h3>
        <div class="component__image">
            <img 
                srcset="images/footer--copyright-and-terms.png 2x"
                src="images/footer--copyright-and-terms.png" alt="Footer Copyright and Terms"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.footer--copyright</h3>
        <div class="component__image">
            <img 
                srcset="images/footer--copyright.png 2x"
                src="images/footer--copyright.png" alt="Footer Copyright"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.footer--terms</h3>
        <div class="component__image">
            <img 
                srcset="images/footer--terms.png 2x"
                src="images/footer--terms.png" alt="Footer Terms"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <h2 class="component__section_name">Universal Components</h2>

    <article class="component">
        <h3 class="component__name">.universal--chat-button</h3>
        <div class="component__image">
            <img 
                srcset="images/universal--chat-button.png 2x"
                src="images/universal--chat-button.png" alt="Universal Chat Button"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.universal--back-to-top-button</h3>
        <div class="component__image">
            <img 
                srcset="images/universal--back-to-top-button.png 2x"
                src="images/universal--back-to-top-button.png" alt="Universal Back to Top Button"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>


</body>
</html>