<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Orange Amps</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    
    <h1> Web Components</h1>

    <h2 class="component__section_name">Page Header</h2>

    <article class="component">
        <h3 class="component__name">.page-header</h3>
        <div class="component__image">
            <img
                srcset="images/page-header.png 2x"
                src="images/page-header.png" alt="Page Header Image"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.page-header--social-icons</h3>
        <div class="component__image">
            <img 
                srcset="images/page-header--social-icons.png 2x"
                src="images/page-header--social-icons.png" alt="Page Header Social Icons"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.page-header--language-icons</h3>
        <div class="component__image">
            <img 
                srcset="images/page-header--language-icons.png 2x"
                src="images/page-header--language-icons.png" alt="Page Header Language Icons"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.page-header--wordmark</h3>
        <div class="component__image">
            <img 
                srcset="images/page-header--wordmark.png 2x"
                src="images/page-header--wordmark.png" alt="Orange Wordmark"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    
    <article class="component">
        <h3 class="component__name">.page-header--cart-icon</h3>
        <div class="component__image">
            <img 
                srcset="images/page-header--cart-icon.png 2x"
                src="images/page-header--cart-icon.png" alt="Cart Icon"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.page-header--nav-bar</h3>
        <div class="component__image">
            <img 
                srcset="images/page-header--nav-bar.png 2x"
                src="images/page-header--nav-bar.png" alt="Nav bar"
            />
        </div>
        <div class="component__code">
            Code Goes Here
        </div>
    </article>

    <h2 class="component__section_name">Hero Section</h2>

    <h2 class="component__section_name">News Section</h2>

    <h2 class="component__section_name">Featured Gear Section</h2>

    <h2 class="component__section_name">Latest Gear Section</h2>

    <h2 class="component__section_name">Footer</h2>

    <h2 class="component__section_name">Universal Components</h2>

</body>
</html>